@media screen and (max-width: 1300px) {
    .food-lists {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

}

@media screen and (max-width: 1010px) {
    .food-lists {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 70px;
        padding: 0;
        padding-block: 80px;
    }

    .card {
        width: 450px;
        height: 430px;
    }

    .card img {
        height: 300px;
    }

    .card-body {
        width: 450px;
    }

    .card h1 {
        font-size: 35px;
    }

    .card button {
        font-size: 25px;
        border: 10px;
    }


}

@media screen and (max-width: 570px) {
    .food-lists:first-child {
        padding-top: 150px;
    }

    .card {
        width: 260px;
        height: 290px;
    }

    .card img {
        height: 180px;
    }

    .card-body {
        width: 260px;
    }

    .card button {
        font-size: 18px;
    }

    .footer-container p {
        height: 100px;
        overflow: scroll;
    }

    .mobile-menu {
        display: flex !important;
        margin-right: 20px;
    }

    header>.header-container {
        justify-content: space-between;
    }

    nav {
        display: none;
    }

    .header {
        position: relative;
    }

    header nav {
        display: flex;
        position: absolute;
        background: linear-gradient(45deg, black, rgb(63, 63, 62));
        width: 100%;
        top: 0;
        flex-direction: column;
        margin: 0;
        transition: all 1s ease;
        transform: translateY(-240px);
    }

    header nav a:hover {
        color: rgb(253, 182, 49);
    }

    header nav a {
        display: block;
        padding: 20px;
        border-bottom: 1px solid white;
        margin: 0;
        font-size: 30px;
        color: white;
        text-align: center;
    }


}


@media screen and (max-width: 340px) {
    .card {
        width: 200px;
        height: 290px;
    }

    .card img {
        height: 180px;
    }

    .card-body {
        width: 200px;
    }

    .card h1 {
        font-size: 31px;
    }

    .card button {
        font-size: 18px;
    }
}