@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Love+Ya+Like+A+Sister&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cookie', cursive;
    font-family: 'Love Ya Like A Sister', cursive;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}